
/node_modules
.DS_Store
/my-project/.DS_Store
/my-project/node_modules
/my-project/dist

/my-project/.env.local
/my-project/.env.*.local


/my-project/npm-debug.log*
/my-project/yarn-debug.log*
/my-project/yarn-error.log*
/my-project/pnpm-debug.log*

/my-project/.idea
/my-project/.gitignore
/my-project/.vscode
/my-project/*.suo
/my-project/*.ntvs*
/my-project/*.njsproj
/my-project/*.sln
/my-project/*.sw?
